<dom-module id="cells-manuel-dashboard-styles"><template><style>
:host {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-manuel-dashboard; }

:host([hidden]), [hidden] {
  display: none !important; }

.box {
  text-align: left;
  display: inline-grid; }

.box-img {
  align: center;
  border-radius: 50%;
  height: 10%;
  width: 10%; }

.box-info {
  text-align: center;
  display: inline-grid; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.card-content {
  background: red; }

</style></template></dom-module>